{% include '@oneworkplace/includes/header.html.twig' %}
<div class="contenido">

  {% if 'usuario' in user.getroles  %}

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <br /><h3 class="text-center">Panel de control</h3>
          </div>
          <div class="col-md-4">
            <br /><p><strong>¡Hola {{ user.displayname }}!</strong> A continuación encontrarás opciones para administrar el sitio.</p>
          </div>
          <div class="col-md-4">
            <br />
              <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-danger btn-sm" href="/" role="button">Inicio</a>
                <a class="btn btn-secondary btn-sm" href="node/1/edit?destination=/panel" role="button">Cambiar contraseña</a>
                <a class="btn btn-primary btn-sm" href="/user/logout" role="button">Cerrar sesión</a>
              </div>
            <br /><br />
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="jumbotron">
              <p>"Usuario Role": for typography and spacing to space content out within the larger container.</p>
            </div>
          </div>
        </div>
      </div>
          
  {% endif %}

{% if 'admin' in user.getroles  %}

    <div class="container">
      <div class="row">
        <div class="col-md-4">

          <br />
          <h3 class="text-center">Panel de control</h3>
        </div>
        <div class="col-md-4">
        <br />
        <p><strong>¡Hola {{ user.displayname }}!</strong> A continuación encontrarás opciones para administrar el sitio.</p>
        </div>
        <div class="col-md-4">

          <br />
            <div class="btn-group" role="group" aria-label="Basic example">
              <a class="btn btn-danger btn-sm" href="/" role="button">Inicio</a>
              <a class="btn btn-secondary btn-sm" href="node/1/edit?destination=/panel" role="button">Cambiar contraseña</a>
              <a class="btn btn-primary btn-sm" href="/user/logout" role="button">Cerrar sesión</a>
            </div>
          <br /><br />

        </div>
      </div>
    </div>

<div class="container">
  <div class="row">

    <div class="col-md-9">

        {# Accordion 
        https://getbootstrap.com/docs/4.0/components/collapse/#accordion-example  #}

        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingContenido">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">## Contenido</button>
              </h2>
            </div>

            <div id="collapse3" class="collapse show" aria-labelledby="headingContenido" data-parent="#accordion">
              <div class="card-body">{{ drupal_view('panel_contenido', 'block_1') }}</div>
            </div>
          </div>

          <br />

          <div class="card">
            <div class="card-header" id="headingContenido">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">## Usuarios</button>
              </h5>
            </div>
            <div id="collapse4" class="collapse" aria-labelledby="headingContenido" data-parent="#accordion">
              <div class="card-body">{{ drupal_view('panel_usuarios', 'block_1') }}</div>
            </div>
          </div>
        </div>
      <br />
    </div>


    <div class="col-md-3">
      <div id="accordion">

        <div class="card">
      
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOnes" aria-expanded="true" aria-controls="collapseOne">
                ## Configuraciones
              </button>
            </h5>
          </div>

          <div id="collapseOnes" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <a class="btn btn-secondary btn-sm" href="admin/structure/menu/manage/main?destination=/panel" role="button">Reordenar menú principal</a>
              <br /><br />
              <a class="btn btn-secondary btn-sm" href="?destination=/panel" role="button">Enlaces a redes sociales</a>
            </div>
          </div>

        </div>
    
        <br />

        <div class="card">
        
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapseOne">
                ## Configuraciones Avanzadas
              </button>
            </h5>
          </div>

          <div id="collapse2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <a class="btn btn-secondary btn-sm" href="admin/config/system/site-information?destination=/panel" role="button">Információn básica del sitio</a>
              <br /><br />
              <a class="btn btn-secondary btn-sm" href="admin/appearance/settings/oneworkplace?destination=/panel" role="button">Cambiar logotipo</a>
              <br /><br />
              <a class="btn btn-secondary btn-sm" href="?destination=/panel" role="button">Conectarse con Google Analytics</a>
              <br /><br />
              <a class="btn btn-secondary btn-sm" href="admin/config/development/backup_migrate?destination=/panel" role="button">Respaldar base de datos</a>
              <br /><br />
            </div>
          </div>

        </div>
  
      </div><br /><br />
    </div>
  

  </div>
</div>

  {% endif %}


</div>
{% include '@oneworkplace/includes/footer.html.twig' %}