{% include '@oneworkplace/includes/header.html.twig' %}

PAGE HTML TWIG
<header class="main-header">
  {% if page.banner %}
    <div class="container">
      <div class="banner">
        <div class="row">
          <div class="col-md-12">{{ page.banner }}</div>
        </div>
      </div>
    </div>
  {% endif %}
</div>

      <!--- Start content -->
      {% if page.content %}
      <div class="container">
        <div class="row">
          <div class="col-md-12 content">
            {{ page.content }}
          </div>
        </div>
      </div>
      {% endif %}
      <!---End content -->

{% include '@oneworkplace/includes/footer.html.twig' %}