{% include '@oneworkplace/includes/header.html.twig' %}

{% if page.content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 contenido">
        {{ page.content }}
      </div>
    </div>
  </div>
{% endif %}

{% include '@oneworkplace/includes/footer.html.twig' %}
