{#
/**
 * @file hero_entity.html.twig
 * Default theme implementation to present Hero entity data.
 *
 * This template is used when viewing Hero entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_hero_entity()
 *
 * @ingroup themeable
 */
#}
{# <div class="hero jumbotron jumbotron-fluid p-0" style="background: url('{{ file_url(content.field_image['#items'].entity.uri.value) }}') 0 0 no-repeat">
  <div class="hero--container d-flex align-items-stretch">
    <div class="hero--gradient col-6">
      {{ "Contenido" }}
    </div>
  </div>
</div> #}
<div class="hero jumbotron-fluid p-0"
     style="background: url('{{ file_url(content.field_image['#items'].entity.uri.value) }}') no-repeat center">
  <div class="hero--wrapper">
  <div class="container">
    <div class="hero--content col-6 d-flex flex-column p-0">
      <div class="hero--text mt-5 pt-5">
        {{ content.field_text }}
      </div>
      <div class="hero--button mt-auto mb-5 py-4 ml-auto w-75 btn">
        <a href="#" role="button">Cierre del Drupalcamp San
          José Febrero 2019</a>
      </div>
      <div class="hero-button-line"></div>
    </div>
    <div class="col-6"></div>
  </div>
  </div>
</div>
