body {
  background-color: #343a40;
  color: #555;
  font-size: 16px;
  font-family: 'Montserrat';
  line-height: 24px;
  letter-spacing: 0px;
}

/* Small devices */
@media screen and (min-width:0px) and (max-width:640px) {
  p { font-size: 14px; }
  ul.tabs { font-size: 12px; }    
}


// Variables 
$padding-grande: 60px;
$padding-medio: 40px 0px 20px 0px;
$padding-pequeno: 10px 0px 10px 0px;


$vertical-space: 20px; 


