<!-- =============================== footer ===============================-->

{% set social_attribute = create_attribute() %}
{%
  set social_classes = [
    'social-icons',
    'brand-bg-icons',
    'icon-lg',
    bond.display_social_round_icons ? 'round-icons',
  ]
%}

{% if bond.header_position == 'header-left' %}
  <footer class="page-footer bg-mineShaft container">
{% else %}
  <footer class="page-footer bg-mineShaft">
{% endif %}

  {% if page.footer_top %}
    {{ page.footer_top }}
  {% endif %}

  {% if page.footer_middle %}
    {{ page.footer_middle }}
  {% endif %}

  <div class="footer-bottom">
    <div class="container py-5">
      <div class="row">

        <!-- end of col-md-7 -->
        <div class="col-md-7">
          <div class="footer-logo mb-3">
            <img src="/{{ active_theme_path() }}/dist/img/assets/logo-footer.svg" alt="weknowinc">
          </div>
          {% if bond.social_profiles | length > 0 %}
            {% include '@bond/includes/social-icons.html.twig' %}
          {% else %}
            {% include '@bond/includes/social-icons-empty.html.twig' %}
          {% endif %}

          <!-- end of social-icons -->
        </div>
        <!-- end of col-md-7 -->
        <div class="col-md-5 d-flex align-items-end justify-content-md-end">
          <div class="copyright text-white mb-2">
            <p>{{ bond.copyright_text }}</p>
          </div>
          <!-- end of copyright -->
        </div>
        <!-- end of col-md-3 -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of container -->
  </div>
  <!-- end of footer Bottom -->
</footer>
<!-- end of page-footer -->
