.branding {
  padding: 0;
}

.site-branding__name a {
  color: #fff;;
  font-size: 1em;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
}

.site-branding__name a:hover {
  color: blue;
}

.site-branding__slogan {
  color: #fff;
}