<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div>{{ page.header }}</div>
      </div>
      <div class="col-6">
        <div id="myNav" class="overlay">
          <div>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          </div>
          <div class="overlay-content">
            {{ page.primary_menu }}
          </div>
        </div>
        <div class="toggler-position">
          <span style="" onclick="openNav()">
            <ul class="social">
              <li><a href="#" class="icon fa-bars" aria-label="Menu"></a></li>
            </ul>
          </span>
        </div>
      </div>
    </div>
   </div>
  </div>

{% if page.tabs %}
  <div class="tabs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            {{ page.tabs }}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% if page.messages %}
  <div class="messages">
    <div class="container">
      <div class="row">
        <div class="col-10 offset-1">
            {{ page.messages }}
        </div>
      </div>
    </div>
  </div>
{% endif %}
