$box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
$box-shadow-2: 0 0 25px 0 rgba(0, 0, 0, .1);
$box-shadow-2-hover: 0 0 25px 0 rgba(0, 0, 0, .2);

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$headings-font-weight: 700;
