
#navigation-group > div.navbar-right {
  width: 26px;
  height: 26px;

  a.waffle-tools {
    width: 29px;
    height: 29px;
    background: transparent url(/themes/custom/engagement/circle.png) 0% 0% no-repeat padding-box;
    opacity: 1;
    display: inline-block;

    &:focus {
      outline: unset;
    }
  }
}

.waffle-tools-container .views-element-container > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .views-row {
    width: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;

    .tool {
      text-align: center;

      .tool-icon {
        height: 50px;
        display: inline-block;
      }

      img {
        width: 50px;
        height: auto;
      }
    }
  }
}

