a { 
  color: $primary;
  -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  transition:1s;
}
    
a:hover { 
  color: #F8935A;
  text-decoration: none;
}

a.is-active { 
  color: white; 
}