{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()user
*
* @ingroup themeable
*/
#}

<div class="block-stars-listing col mb-4">
  {{ drupal_view('stars') }}
</div>
