{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
  'clear-both',
] %}
<div class="col-lg-3 col-sm-6 col-md-3 img-thumbnail ws-custom--block">
  {% for value in listBirthdays %}
    <a href="/user/{{ value.id }}">
      <img src="{{ file_url(value.url) }}">
      <span>
        <p>{{ value.name }}</p>
        <p>{{ value.jobTitle }}</p>
      </span>
    </a>
  {% endfor %}
</div>
