<!-- Add you custom twig html here -->

{% set classes = [
  'clear-both',
] %}
<div{{ attributes.addClass('star_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>

<div class="content container-fluid">
  <form action="/">
    <input type="text" id="user" required>
    <input type="text" id="type" required>
    <textarea name="description" id="description" cols="30" rows="10" required></textarea>
    <input type="submit" value="Save">
  </form>
  <div class="col-lg-3 col-sm-6 col-md-3 img-thumbnail ws-custom--block">
    {% for employee in list_employees %}
      <a href="/user/{{ employee.id }}">
      <span>
        <p>{{ employee.name }}</p>
      </span>
      </a>
    {% endfor %}
  </div>
</div>
