<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="copyright">
          <p>{{ site_name }} © Copyright {{ 'now'|date('Y') }}</p>
        </div>
      </div>
    </div>
  </div>
</div>