.star-entity-wrapper {
  @media only screen and (min-width: 600px) {
    display: flex;
  }

  box-shadow: $box-shadow-2;
  padding: 15px;
  margin-bottom: 25px;

  .content-first {
    display: flex;
    justify-content: center;
    padding: 20px;

    &.reverse {
      flex-direction: row-reverse;
    }

    .user {
      &.own-page {
        display: none;
      }

      .name {
        display: none;
      }

      .picture {
        width: 100px;
        height: 100px;

        img {
          border-radius: 100%;
          width: 100%;
          height: 100%;
        }

        &.fa::before {
          font-size: 100px;
        }
      }

      &.user-to {

      }
    }

    .star-type-icon {
      width: 64px;
      height: 64px;
      margin: 60px -22px -60px;
      z-index: 1;

      &.alt {
        margin: 60px -10px 0 -33px
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .content-second {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .star-type {
      font-size: 25px;
    }

    .star-message {
      flex-grow: 1;
    }

    .star-date {
      align-self: flex-end;
    }
  }
}
