.view-star-types {
  display: flex;
  justify-content: space-around;

  .views-row {
    flex-basis: 100%;

    .send-star-wrapper {
      a {
        display: flex;

        .field--name-field-image {
          img {
            width: 64px;
            height: 64px;
          }
        }

        .content-beside {
          color: rgba(0,0,0,0.5);
          padding: 10px;

          .field--name-name {
            font-weight: $font-weight-bold;
          }

          .field--name-description {
            font-weight: $font-weight-normal;
            font-size: 15px;
          }
        }
      }
    }
  }
}
